.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  padding: 50px;
}

.poster {
  border: 4px solid gray;
  display: inline-block;
  width: 200px;
  margin-right: 10px;
}

.bounty-form {
  margin: 0 50px;
  padding: 0 10px 10px 10px;
  background-color: beige;
  border: 4px solid #555;
}

.bounty-form input {
  width: 90%;
}

.show-bounty {
  margin: 0 50px;
  border: 4px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: mediumspringgreen;
}